<h1>Titulo</h1>
<p>COntenidoCOntenidoCOntenidoCOntenidoCOntenidoCOntenidoCOntenidoCOntenidoCOntenidoCOntenidoCOntenidoCOntenidoCOntenido COntenidoCOntenidoCOntenidoCOntenido</p>


p.rojo
<p class="rojo"></p>

p#verde
<p id="verde"></p>

div.verde
.verde
<div class="verde"></div>

img.imagen-responsive*5

h1>a

<h1><a href=""></a></h1>
lo>li*4
<ol>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ol>

<ol class="arriba">
  <li class="abajo"></li>
</ol>

h2.clase1.clase2.clase3


<h2 class="clase1 clase2 clase3"></h2>

.fila>.columna+.columna+h1+img.imagen
<div class="fila">
  <div class="columna"></div>
  <div class="columna"></div>
  <h1></h1>
  <img src="" alt="" class="imagen">
</div>
