
<div class="container">
  <div class="row">
    <div style="background-color: red;" class="col-sm-12">
      Rojo
    </div>
    <div style="background-color: red;" class="col-sm-6">
      Rojo
    </div>
    <div style="background-color: blue;" class="col-md-12">
      Azul
    </div>
    <div style="background-color: blue;" class="col-md-6">
      zul
    </div>
    <div style="background-color: yellow;" class="col-lg-12">
      Amarillo
    </div>
    <div style="background-color: yellow;" class="col-lg-6">
      Amarillo
    </div>
    <div style="background-color: green;" class="col-xl-12">
      Verde
    </div>
    <div style="background-color: green;" class="col-xl-6">
      Verde
    </div>
  </div>
</div>




<br>
<br>
<br>


<div  class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-2">Boot</div>
      <div class="col-sm-2">Docum</div>
      <div class="col-sm-2">Example</div>
      <div class="col-sm-2">The</div>
      <div class="col-sm-2">Expo</div>
      <div class="col-sm-2">Blog</div>
    </div>
  </div>
  <div class="col-md-6"></div>



<div class="row">
  <div style="background-color: #3f2c5b"
    class="row">
    <h1>Bootstrap is the most popular HTML, CSS, and JS framework in the world for building responsive, mobile-first projects on the web.</h1>
  </div>

  <div class=" row">

    <div class="col-md-12">
      <h1  style="text-align: center">Easy to get started.</h1>
      <p style="text-align: center">Quickly include Bootstrap's CSS and JS into any project. Use your favorite package manager, download the source, or use the Bootstrap CDN.</p>
    </div>


  </div>
</div>


  <div class="row">
    <div class="row">

      <div class="col-md-6">
        <h1 style="text-align: center ">Managed dependencies</h1>
        <p>
          Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.
        </p>
          <a class="btn btn-bs" href="/getting-started/download/#package-managers">View install methods</a>
      </div>

      <div class="col-md-6">
        <h1 style="text-align: center">Bootstrap CDN</h1>
        <p>When you just need to include Bootstrap's compiled CSS and JS, use the Bootstrap CDN, free from the Max CDN folks.</p>
                      
      </div>

    </div>
  </div>

<!--p.rojo
<p class="rojo"></p>

p#verde
<p id="verde"></p>

div.verde
.verde
<div class="verde"></div>

img.imagen-responsive*5

h1>a

<h1><a href=""></a></h1>
lo>li*4
<ol>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ol>

<ol class="arriba">
  <li class="abajo"></li>
</ol>

h2.clase1.clase2.clase3


<h2 class="clase1 clase2 clase3"></h2>

.fila>.columna+.columna+h1+img.imagen
<div class="fila">
  <div class="columna"></div>
  <div class="columna"></div>
  <h1></h1>
  <img src="" alt="" class="imagen">
</div>
-->
