
p{
  border: 10px;
  border-style: solid;
  border-color: #b1eef7;
}
p{
  border-color: yellow;
}
h1 {
  color: #e9e3ff;
  background-color: #001c20;
}

#verde{
  background-color: greenyellow;
}
.rojo{
  color: #ff4b46;
}
p:hover{
  border-color: white;
}
